

<script>
    document.addEventListener("DOMContentLoaded", function() {
      const linkElement = document.createElement("link");
      linkElement.rel = "stylesheet";
      linkElement.href = "footer.css";
      document.body.appendChild(linkElement);
    });
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const linkElement = document.createElement("link");
      linkElement.rel = "stylesheet";
      linkElement.href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";
      document.body.appendChild(linkElement);
    });
  </script>
<div class="footer">
  <div class="container">
    <div class="footer-logo">OnlineShop</div>
    <div >
    <ul style="display:flex" class="footer-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="about">About</a></li>
          <li><a href="contacts">Contact</a></li>
          <li><a href="privacy_policy">Privacy Policy</a></li>
        </ul>
    </div>
    <!--<div class="footer-social">
      <a id="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
      <a id="twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a id="insta" href="#"><i class="fab fa-instagram"></i></a>
      <a id="pinterest" href="#"><i class="fab fa-pinterest"></i></a>
    </div>
    <div class="footer-subscribe">
        <a href="#"><h3>Subscribe to Our Newsletter</h3>
      <p>Get updates on new products, sales, and more!</p></a>
      
    </div>-->
  </div>
  <div class="col-12 text-center text-body">
                    <a class="text-body" href="about">About</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="contact">Contact</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="privacy_policy">Privacy Policy</a>
                    <!--<span class="mx-1">|</span>
                    <a class="text-body" href="">Customer Support</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="">Payments</a>
                    <span class="mx-1">|</span>
                    <a class="text-body" href="">Help</a>-->
                    <!--<span class="mx-1">|</span>
                    <a class="text-body" href="">FAQs</a>-->
  </div>
  <div  id="rights">
    <br><br>
    <p>© OnlineShop. All Rights Reserved.</p><br>
    <h6>Designed By: <span style="font-size:12px"> Tashfin Sami Swachho</span></h6>
  </div>
  
</div>